
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<display-name>Servlet1</display-name>
  	<servlet-name>Servlet1</servlet-name>
  	<servlet-class>projetescalade.Servlet1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletSites</display-name>
  	<servlet-name>ServletSites</servlet-name>
  	<servlet-class>projetescalade.ServletSites</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletTopo</display-name>
  	<servlet-name>ServletTopo</servlet-name>
  	<servlet-class>projetescalade.ServletTopo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletRecherche</display-name>
  	<servlet-name>ServletRecherche</servlet-name>
  	<servlet-class>projetescalade.ServletRecherche</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletEspaceUtilisateur</display-name>
  	<servlet-name>ServletEspaceUtilisateur</servlet-name>
  	<servlet-class>projetescalade.ServletEspaceUtilisateur</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletDeconnexion</display-name>
  	<servlet-name>ServletDeconnexion</servlet-name>
  	<servlet-class>projetescalade.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletInscription</display-name>
  	<servlet-name>ServletInscription</servlet-name>
  	<servlet-class>projetescalade.ServletInscription</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletConnexion</display-name>
  	<servlet-name>ServletConnexion</servlet-name>
  	<servlet-class>projetescalade.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet1</servlet-name>
  	<url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSites</servlet-name>
  	<url-pattern>/sites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletTopo</servlet-name>
  	<url-pattern>/topos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletRecherche</servlet-name>
  	<url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEspaceUtilisateur</servlet-name>
  	<url-pattern>/espaceutilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDeconnexion</servlet-name>
  	<url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletInscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConnexion</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
</web-app>
