
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>filePath</param-name>
    <param-value>C:/projetescalade/img/</param-value>
  </context-param>
  <context-param>
    <param-name>emailHost</param-name>
    <param-value>smtp.googlemail.com</param-value>
  </context-param>
  <context-param>
    <param-name>emailAccount</param-name>
    <param-value>suggestions.projetescalade@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>emailAccountPassword</param-name>
    <param-value>appliescalade</param-value>
  </context-param>
  <context-param>
    <param-name>idadmin</param-name>
    <param-value>Admin</param-value>
  </context-param>
  <context-param>
    <param-name>mdpadmin</param-name>
    <param-value>azertyuiop</param-value>
  </context-param>
  <servlet>
  	<display-name>Servlet1</display-name>
  	<servlet-name>Servlet1</servlet-name>
  	<servlet-class>projetescalade.Servlet1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletSites</display-name>
  	<servlet-name>ServletSites</servlet-name>
  	<servlet-class>projetescalade.ServletSites</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletTopo</display-name>
  	<servlet-name>ServletTopo</servlet-name>
  	<servlet-class>projetescalade.ServletTopo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletRecherche</display-name>
  	<servlet-name>ServletRecherche</servlet-name>
  	<servlet-class>projetescalade.ServletRecherche</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletEspaceUtilisateur</display-name>
  	<servlet-name>ServletEspaceUtilisateur</servlet-name>
  	<servlet-class>projetescalade.ServletEspaceUtilisateur</servlet-class>
  	<multipart-config>
	    <location></location>
	    <max-file-size>10485760</max-file-size>
	    <max-request-size>52428800</max-request-size>
	    <file-size-threshold>1048576</file-size-threshold>
	</multipart-config>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletDeconnexion</display-name>
  	<servlet-name>ServletDeconnexion</servlet-name>
  	<servlet-class>projetescalade.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletInscription</display-name>
  	<servlet-name>ServletInscription</servlet-name>
  	<servlet-class>projetescalade.ServletInscription</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletConnexion</display-name>
  	<servlet-name>ServletConnexion</servlet-name>
  	<servlet-class>projetescalade.ServletConnexion</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletUtilisateurPublic</display-name>
  	<servlet-name>ServletUtilisateurPublic</servlet-name>
  	<servlet-class>projetescalade.ServletUtilisateurPublic</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletRechercheTopo</display-name>
  	<servlet-name>ServletRechercheTopo</servlet-name>
  	<servlet-class>projetescalade.ServletRechercheTopo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletReservations</display-name>
  	<servlet-name>ServletReservations</servlet-name>
  	<servlet-class>projetescalade.ServletReservations</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletAjoutTopo</display-name>
  	<servlet-name>ServletAjoutTopo</servlet-name>
  	<servlet-class>projetescalade.ServletAjoutTopo</servlet-class>
  	<multipart-config>
	    <location></location>
	    <max-file-size>10485760</max-file-size>
	    <max-request-size>52428800</max-request-size>
	    <file-size-threshold>1048576</file-size-threshold>
	</multipart-config>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletSite</display-name>
  	<servlet-name>ServletSite</servlet-name>
  	<servlet-class>projetescalade.ServletSite</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletAjoutImageUtilisateur</display-name>
  	<servlet-name>ServletAjoutImageUtilisateur</servlet-name>
  	<servlet-class>projetescalade.ServletAjoutImageUtilisateur</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletSecteur</display-name>
  	<servlet-name>ServletSecteur</servlet-name>
  	<servlet-class>projetescalade.ServletSecteur</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ServletVoie</display-name>
  	<servlet-name>ServletVoie</servlet-name>
  	<servlet-class>projetescalade.ServletVoie</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AjoutAdministrateur</display-name>
  	<servlet-name>AjoutAdministrateur</servlet-name>
  	<servlet-class>projetescalade.AjoutAdministrateur</servlet-class>
  	<multipart-config>
	    <location></location>
	    <max-file-size>10485760</max-file-size>
	    <max-request-size>52428800</max-request-size>
	    <file-size-threshold>1048576</file-size-threshold>
	</multipart-config>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SuggestionsUtilisateurs</display-name>
  	<servlet-name>SuggestionsUtilisateurs</servlet-name>
  	<servlet-class>projetescalade.SuggestionsUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet1</servlet-name>
  	<url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSites</servlet-name>
  	<url-pattern>/sites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletTopo</servlet-name>
  	<url-pattern>/topo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletRecherche</servlet-name>
  	<url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEspaceUtilisateur</servlet-name>
  	<url-pattern>/espaceutilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDeconnexion</servlet-name>
  	<url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletInscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConnexion</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletUtilisateurPublic</servlet-name>
  	<url-pattern>/utilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletRechercheTopo</servlet-name>
  	<url-pattern>/topos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletReservations</servlet-name>
  	<url-pattern>/reservations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAjoutTopo</servlet-name>
  	<url-pattern>/ajouttopo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSite</servlet-name>
  	<url-pattern>/site</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAjoutImageUtilisateur</servlet-name>
  	<url-pattern>/ajoutimageutilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSecteur</servlet-name>
  	<url-pattern>/secteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletVoie</servlet-name>
  	<url-pattern>/voie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutAdministrateur</servlet-name>
  	<url-pattern>/ajoutadministrateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuggestionsUtilisateurs</servlet-name>
  	<url-pattern>/suggestions</url-pattern>
  </servlet-mapping>
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
</web-app>
